body{
	width: 100%;
	background-color: LightBlue;
}

.title{
	width: 100%;
	font-size: 4em;
	margin-bottom: 0.2em;
}

.ul{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 50%;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: 0.05em;
}

.maincontainer{
	background-color: Tan;
	border-style: solid;
	border-width: 0.1em;
	border-color: black;
	width: fit-content;
	width: -wekit-fit-content;
	width: -moz-fit-content;
	margin: auto;
	overflow: auto;
}

.boxone{
	position: relative;
	float: left;
	width: fit-content;
	width: -wekit-fit-content;
	width: -moz-fit-content;
	overflow: auto;
	background-color: white;
	margin: 1em;
	border-style: solid;
	border-width: 0.1em;
	border-color: black;
}

.boxtwo{
	float: left;
	width: 17em;
	height: 15em;
	background-color: white;
	margin-top: 1em;
	margin-right: 1em;
	border-style: solid;
	border-width: 0.1em;
	border-color: black;
	overflow: scroll;
}

.boxthree{
	float: left;
	width: 17em;
	overflow: auto;
	background-color: white;
	margin-top: 1em;
	margin-right: 1em;
	border-style: solid;
	border-width: 0.1em;
	border-color: black;
}

.boxfour{
	float: left;
	width: 17em;
	overflow: auto;
	background-color: white;
	margin-top: 1em;
	margin-right: 1em;
	border-style: solid;
	border-width: 0.1em;
	border-color: black;
}

.boxfive{
	float: left;
	width: 17em;
	overflow: auto;
	background-color: white;
	margin-top: 1em;
	margin-right: 1em;
	border-style: solid;
	border-width: 0.1em;
	border-color: black;
}

.myrecord{
	margin: 0.1em;	
	padding: 0.1em;
	float: left;
	border-style: solid;
	border-width: 0.1em;
	border-color: black;
	height: 1.5em;
	width: 5em;
}

#clear,
#fill,
#squaretool,
#eraser{
	text-align: center;
	padding: 0.1em;
	float: left;
	height: 1.8em;
	width: 45%;
	font-size: 1.5em;
	margin: 0.1em;
	border-style: solid;
	border-width: 0.1em;
	border-color: black;	
}

td {
	background-color: rgb(0, 0, 0);
	border-style: solid;
	border-width: 0.1em;
	border-color: black;
	width: 1.25em;
	height: 1.25em;
	padding: 0;
	-webkit-box-shadow: inset -6px -5px 6px 0px rgba(0,0,0,0.75);  /*check out http://www.cssmatic.com/box-shadow for an easy way to shadow colors*/
	-moz-box-shadow: inset -6px -5px 6px 0px rgba(0,0,0,0.75);
	box-shadow: inset -6px -5px 6px 0px rgba(0,0,0,0.75);	
}

.acolor{
	margin: 0.1em;	
	padding: 0.1em;
	float: left;
	border-style: solid;
	border-width: 0.1em;
	border-color: black;
	height: 1.5em;
	width: 1.5em;
	-webkit-box-shadow: inset -6px -5px 6px 0px rgba(0,0,0,0.75);  /*check out http://www.cssmatic.com/box-shadow for an easy way to shadow colors*/
	-moz-box-shadow: inset -6px -5px 6px 0px rgba(0,0,0,0.75);
	box-shadow: inset -6px -5px 6px 0px rgba(0,0,0,0.75);
}

.black{
	background-color: Black;
}

.green{
	background-color: #31e312;
}

.pink{
	background-color: #eb07ba;
}

.blue{
	background-color: #0b07eb;
}

.lightblue{
	background-color: #05e7eb;
}

.red{
	background-color: #ed0303;
}

.orange{
	background-color: #f0951d;
}

.yellow{
	background-color: #f2e41b;
}

.white{
	background-color: rgb(255, 255, 255);
}


.footer{
	border-style: solid;
	border-color: black;
	border-width: 0.1em;
	height: 6em;
	margin-top: 0.9em;
	background-color: Gray;

}
